<ion-header class="fondo">
  <ion-toolbar>


    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" color="warning">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>


    <ion-buttons slot="end">
      <ion-avatar>
        <ion-img src="/assets/logo.png"></ion-img>
      </ion-avatar>
    </ion-buttons>

    <ion-title>Visual</ion-title>
    
      

  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
 
  <br>
  <br>
    <ion-title  class="titulo">Podemos reciclar en casa:</ion-title>
    

  <ion-list>
    
    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="/assets/visual_2.jpg"></ion-img>
      </ion-avatar>
      <ion-label class="letra">Botellas</ion-label> 
    </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <ion-img src="/assets/visual_3.jpg"></ion-img>
        </ion-avatar>
        <ion-label class="letra">Botes de champú</ion-label> </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="/assets/visual_4.jpg"></ion-img>
      </ion-avatar>
      <ion-label class="letra" >Bolsas de snacks</ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="/assets/visual_5.jpg"></ion-img>
      </ion-avatar>
      <ion-label class="letra" >Tapas </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="/assets/visual_6.jpg"></ion-img>
      </ion-avatar>
      <ion-label class="letra" >Tapas de yogurt </ion-label>
    </ion-item>  
    
    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="/assets/visual_7.jpg"></ion-img>
      </ion-avatar>
      <ion-label class="letra" >Bolsas de plástico</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="/assets/visual_8.jpg"></ion-img>
      </ion-avatar>
      <ion-label class="letra" >Tetrabricks de leche y zumo</ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="/assets/visual_9.jpg"></ion-img>
      </ion-avatar>
      <ion-label class="letra" >Latas de aluminio</ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="/assets/visual_10.jpg"></ion-img>
      </ion-avatar>
      <ion-label class="letra" >Cartónes</ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="/assets/visual_11.jpg"></ion-img>
      </ion-avatar>
      <ion-label class="letra" >Periódicos y revistas</ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="/assets/visual_12.jpg"></ion-img>
      </ion-avatar>
      <ion-label class="letra" >Botellas de vino o cava</ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="/assets/visual_13.jpg"></ion-img>
      </ion-avatar>
      <ion-label class="letra" >Frascos de colonia</ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="/assets/visual_14.jpg"></ion-img>
      </ion-avatar>
      <ion-label class="letra" >Tarros de mermeladas y conservas</ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="/assets/visual_15.jpg"></ion-img>
      </ion-avatar>
      <ion-label class="letra" >Pilas de uso doméstico</ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="/assets/visual_16.jpg"></ion-img>
      </ion-avatar>
      <ion-label class="letra" >Electrodomésticos.</ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="/assets/visual_17.jpg"></ion-img>
      </ion-avatar>
      <ion-label class="letra" >Aparatos electrónicos</ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="/assets/visual_18.jpg"></ion-img>
      </ion-avatar>
      <ion-label class="letra" >Bombillas</ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="/assets/visual_19.jpg"></ion-img>
      </ion-avatar>
      <ion-label class="letra" >Aceite usado</ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="/assets/visual_20.jpg"></ion-img>
      </ion-avatar>
      <ion-label class="letra" >Muebles</ion-label>
    </ion-item>

  </ion-list>
  <br>
  <ion-list-header class="tip">
    Tips para reciclar en casa
  </ion-list-header>
  <br>


  
  <ion-card class="cajas">
    
      <ion-img src="assets/visual_1.jpg"></ion-img>

    <ion-card-header>
      <ion-card-title class="titulo2">Reduce el tamaño de botellas</ion-card-title>
    </ion-card-header>
  
    <ion-card-content >
      Reciclar supone acumular envases temporalmente. 
      Un truco para optimizar nuestros espacios de almacenaje es “aplastar” 
      los bricks y las botellas de plástico.
    </ion-card-content>
  </ion-card>

  <br><br>
  
  <ion-card class="cajas">
    
      <ion-img src="assets/visual_21.jpg"></ion-img>
    
    <ion-card-header>
      
      <ion-card-title class="titulo2">Recicla el aceite de cocina</ion-card-title>
    </ion-card-header>
  
    <ion-card-content >
      Este residuo debe depositarse en un contenedor especial y nunca tirarse por el inodoro 
      o por la pila de la cocina. Un consejo para reciclar este aceite es almacenarlos en botes 
      de vidrio que, una vez llenos, llevaremos a un punto de reciclaje.
    </ion-card-content>
  </ion-card>


  <br><br>

  <ion-card class="cajas">
    
      <ion-img src="assets/visual_22.jpg"></ion-img>
    

    <ion-card-header>
      
      <ion-card-title class="titulo2">Deposita los residuos en el contenedor correspondiente</ion-card-title>
    </ion-card-header>
  
    <ion-card-content >
      Debes dejar los envases de plástico, latas y bricks en el contenedor amarillo; 
      los papeles y cartones en el contenedor azul; y el vidrio en el contenedor verde. Para los residuos 
      orgánicos, el contenedor marrón es el correcto, y para aquellos materiales con mezcla de residuos orgánicos 
      como pueden ser pañales, algodones, etc., los contenedores grises son los adecuados.
    </ion-card-content>
  </ion-card>


  <br><br>

  <ion-card class="cajas">
    
      <ion-img src="assets/visual_23.jpg"></ion-img>
    

    <ion-card-header>
      
      <ion-card-title class="titulo2">Limpia los envases de comida antes de tirarlos al contenedor</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Limpiar los envases de comida como latas o botes antes de llevarlos al contenedor. 
      En el caso de las botellas de aceite o los envases de productos cosméticos y de limpieza no deben enjuagarse 
      antes de su reciclaje para evitar vertidos químicos o tóxicos en el agua.
    </ion-card-content>
  </ion-card>


  <br><br>

  <ion-card class="cajas">
      <ion-img src="assets/visual_24.jpg"></ion-img>
    
    <ion-card-header>
      
      <ion-card-title class="titulo2">Lee las etiquetas y envases</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      La información sobre reciclaje disponible en etiquetas y envases es muy útil en los plásticos, 
      que tienen un código especial que indica el material o mezcla de materiales utilizados en su fabricación. 
      En algunos casos, la etiqueta también nos indica en qué contenedor debemos depositar un envase.
    </ion-card-content>
  </ion-card>

  <br><br>

  <ion-card class="cajas">
      <ion-img src="assets/visual_25.jpg"></ion-img>
  
    <ion-card-header>
      
      <ion-card-title class="titulo2" >Involucra a toda tu familia y entorno en tu plan de reciclaje</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Para que el reciclaje en casa sea efectivo todos los miembros de la familia, incluso los más pequeños, 
      deben ser partícipes activos. Un consejo para concienciarse al máximo es exportar estos hábitos de reciclaje 
      a otros ámbitos de tu vida como por ejemplo el trabajo.
    </ion-card-content>
  </ion-card>

  <br><br>

  <ion-card class="cajas">
      <ion-img src="assets/visual_26.png"></ion-img>
    <ion-card-header>
      
      <ion-card-title class="titulo2">Reciclar y reutilizar van de la mano</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      No se trata únicamente de clasificar los residuos del hogar y llevarlos a su contenedor, 
      sino también de adoptar hábitos para reutilizar materiales y fomentar el consumo responsable. 
      Un ejemplo es llevar nuestras propias bolsas de tela o rejilla para hacer la compra. Otro, 
      usar los botes de cristal de conservas para guardar pasta, especias, cereales o legumbres.
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <a href="https://www.youtube.com/watch?v=eDFECiSBgd0" target="_blank">
        <ion-fab-button color="dark">
          <ion-icon name="logo-youtube"></ion-icon>
        </ion-fab-button>
      </a>
    </ion-fab-list>
    
    <ion-fab-list side="start">
      <a href="https://www.instagram.com/compostate_bien/" target=_blank>
        <ion-fab-button color="dark">
          <ion-icon name="logo-instagram"></ion-icon>
        </ion-fab-button>
      </a>
    </ion-fab-list>

  </ion-fab>
  

    
</ion-content>

